# IDE specific files/folders
.idea/
# .vscode/

# Build directories
build/
cmake-build-*/
clang_tidy_build/

# macOS files
.DS_Store

# ignore me pls
ignore-*

# OVMF installation path
.ovmf/

# QEMU files
esp/